p {
    display: inline-block;
}
button {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
div {
    position: relative;
    display: inline-block;
    >app-video {
        display: block;
    }
}